@use '/src/assets/module' as va;

header{
    width: 100%;
    position: relative;

    .main_header_row{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .col_name_country_city{
            display: flex;
            flex-direction: column;
            text-align: start;
    
            h2{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 25px;
                line-height: 43px;
                color:va.$second-color-light_th;

                b{
                    font-weight: 400;
                }

            }

            h3{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color:va.$third-color-light_th
            }
    
        }
    
        .burger_bt_col{
    
            .burger_ico{
                width: 23px;
                height: 23px;
                cursor: pointer;
                transition: 0.3s all;

                &:hover{
                    opacity: 0.8;
                }

            }
    
        }
    
    }

   .burgerBody{
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;

        form{

            label{
                min-width: 366px;
                height: 46px;

                .cityInput{
                    display: flex;
                    width: 100%;
                    height: 100%;
                    border: none;
                }

            }


        }

   }   


}