$main-color:#FFFFFF;
$second-color-light_th:#2F2E2E;
$second-color-light_th:#A3A3A3;
$container-width: 1100px;
$container-fluid-width: 100%;
$background-color-light_th:linear-gradient(167.95deg, #006189 0%, #81DAFF 0.01%, rgba(16, 112, 201, 0.68) 100%);
